<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center"><font face="Adorable Doll" size="6" color="#FF6699"> Welcome to Wishlist App!</font></h1>
    <h3 align="center"><font face="Adorable Doll" size="3" color="#FF6699"> Create your own todo and wish lists</h3>
    <a align="center" href="/login"> Login</a>
    <a align="center" href="/signup"> Signup</a>
</body>

</html>